{% extends 'OI_site/base.html' %}
{% block content %}
    <div>
        <form style="display:flex" enctype="multipart/form-data" method="POST">{% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>
    <div>
        {%for image in images%}<a href="{% url 'image_edit' pk=image.pk %}"><img class="listImg" id="Image{{image.id}}" src="media/{{image.image}}" alt="Image{{image.id}}"></a>
        {% endfor %}
    </div>
{% endblock %}
