{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Image {{ image.pk }}</title>
    <link rel="stylesheet" href="{% static 'css/OI_site.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/left_panel.js' %}"></script>
    <script src="{% static 'js/log.js' %}"></script>
    <script src="{% static 'js/jscolor.js' %} "></script>
    <script src="{% static 'js/windows_panels.js' %} "></script>
</head>
<body class="flex">
    <div class="leftPanel" id="leftPanel">
        <div class="leftPanelBlock">
            <div><h4>Файл</h4></div>
            <div>
                <form id="imageDeleteForm" action="{% url 'image_delete' image.pk %}" method="post">{% csrf_token %}
                    <a id="imageDeleteFormSubmit" class="noDecoration"><p class="pointer">Удалить</p></a>
                </form>
            </div>
        </div>
        <div class="leftPanelBlock">
            <div><h4>Изменить</h4></div>
            {% if processed_images_current.count > 1 %}
            <div>
                <a href="{% url 'image_undo_back' pk=image.pk %}" class="noDecoration">◀️ Назад</a>
            </div>
            {% endif %}
            {%if processed_images_current.last.id != processed_images.first.id %}
                <div>
                    <a href="{% url 'image_undo_forward' pk=image.pk %}" class="noDecoration">▶️ Вперед</a>
                </div>
            {%endif%}
            <div>
                <a class="noDecoration" id="binClick" onclick="binarizationFormPanel_show()">Бинарное</a>
            </div>
            <div>
                <a href="{% url 'transform_image_to_gray' pk=image.pk %}" class="noDecoration">Оттенки серого</a>
            </div>
            <div>
                <a href="{% url 'transform_image_to_negative' pk=image.pk %}" class="noDecoration">Негатив</a>
            </div>
            <div>
                <a class="noDecoration" onclick="contrastFormPanel_show()">Яркость/Контраст</a>
            </div>
            <div>
                <a class="noDecoration" onclick="noise_salt_pepper_formFormPanel_show()">Шум соль/перец</a>
            </div>
            <div>
                <a href="{% url 'transform_image_to_lin' pk=image.pk %}" class="noDecoration">3. Лин. преобр.</a>
            </div>
            <div>
                <a href="{% url 'transform_image_to_med' pk=image.pk %}" class="noDecoration">3. Мед. фильтр</a>
            </div>
            <div>
                <a href="{% url 'transform_image_to_kir' pk=image.pk %}" class="noDecoration">4. Метод Кирша</a>
            </div>
            <div>
                <a href="{% url 'transform_image_to_lap' pk=image.pk %}" class="noDecoration">4. Метод Лапласа</a>
            </div>
            <div>
                <a href="{% url 'transform_image_to_rob' pk=image.pk %}" class="noDecoration">4. Метод Робертса</a>
            </div>
            <div>
                <a href="{% url 'transform_image_to_sob' pk=image.pk %}" class="noDecoration">4. Метод Собела</a>
            </div>
            <div>
                <a href="{% url 'transform_image_to_uol' pk=image.pk %}" class="noDecoration">4. Метод Уоллеса</a>
            </div>
            <div>
                <a href="{% url 'transform_image_to_sta' pk=image.pk %}" class="noDecoration">4. Стат. метод</a>
            </div>
        </div>
    </div>
    <div id="leftPanelBack"> </div>


    <div class="windowsPanels hided" id="windowsPanels">
        <div id="binarizationFormPanel" class="windowsPanel"/>
            <form action="transform_image_to_bin/" method="post">{% csrf_token %}
                {{ image_to_bin_form.as_p }}
                <input type="submit" value="Бинарное">
            </form>
        </div>

        <div id="contrastFormPanel" class="windowsPanel"/>
            <form action="transform_image_set_contrast/" method="post">{% csrf_token %}
                {{ image_contrast_form.as_p }}
                <input type="submit" value="Отправить">
            </form>
        </div>

        <div id="noise_salt_pepper_formFormPanel" class="windowsPanel"/>
            <form action="noise_salt_pepper/" method="post">{% csrf_token %}
                {{ image_noise_salt_pepper_form.as_p }}
                <input type="submit" value="Отправить">
            </form>
        </div>

        <div id="windowsPanelsBack" onclick="windowsPanels_hide()"> </div>
    </div>


    <div id="editPanel" class="editPanel">
        <div class="editPanelBigImage">
            <div>
                <img id="notprocessedImage" src="/media/{{image.image}}" alt="Необработанное">
                <h5>не обработанное</h5>
            </div>
            <div>
                <div>
                    <img id="processedImage" class="" src="/media/{{processed_images_max.image}}" alt="Обработанное">
                    <h5>обработанное</h5>
                </div>
            </div>
        </div>
        <div class="editPanelInfo">
            <h5>о файле</h5>
            <div>
                <p>формат: {{ image_format }}</p>
                <p>разрешение: x:{{ image_size.0 }}, y:{{image_size.1}}</p>
            </div>
        </div>
    </div>
    

    <div id="historyPanel" class="historyPanel hided">
        {% for element in processed_images %}
        {%if element.id == processed_images_current.last.id %}
        <div class="historyPanelSelected">
            <a class="noDecoration">{{ element.about }}</a>
        </div>
        {% else %}
        <div>
            <a href="{% url 'image_undo_go' pk=image.pk history=element.id %}" class="noDecoration">{{ element.about }}</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div id="histogramPanel" class="histogramPanel hided">
        <img src="/media/{{ red_histogram }}">
        <img src="/media/{{ green_histogram }}">
        <img src="/media/{{ blue_histogram }}">
        <img src="/media/{{ gray_histogram }}">
    </div>
    
    <div class="bottomPanel">
        <div class="imgLinks">
            <div style="margin-bottom:5px;"><a href="/"><img src="{% static 'img/photos.png' %}" alt="HomePage"></a></div>

            <div><img id="leftPanelShowHistogram" src="{% static 'img/histogram.png' %}" alt="ShowHistogram"></div>
            <div><img id="leftPanelHideHistogram" style="display: none" src="{% static 'img/histogram-hide.png' %}" alt="Hide Histogram"></div>

            <div><img id="leftPanelShowHistory" src="{% static 'img/history.png' %}" alt="ShowHistory"></div>
            <div><img id="leftPanelHideHistory" style="display: none" src="{% static 'img/history-hide.png' %}" alt="HideHistory"></div>

            <div><img id="leftPanelHideButton" src="{% static 'img/hide.png' %}" alt="HideLeftPanel"></div>
            <div><img id="leftPanelShowButton" style="display: none" src="{% static 'img/show.png' %}" alt="HideLeftPanel"></div>
        </div>
    </div>
</body>
</html>