html{
    height: 100%;
}
body{
    background:rgb(20,20,20);
    margin: 0;
    height: 100%;
}

li{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
h3{
    margin: 0;
}
h4{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
h5{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-style: italic;
    margin: 0;
    font-size: 14pt;
}
a{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a:visited{
    color: white;
}
p{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
input{
    margin: 0;
}
button{
    margin: 0;
}
img{
    margin: 0;
}

.listImg{
    float: left;
    display: flex;
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.listImg img{
    height: 300px;
}

.leftPanel{
    background: rgb(53, 53, 53);
    position: fixed;
    height: 100%;
    width: 180px;
}
.leftPanelBlock{
    margin: 30px 0 15px 30px;
}
.leftPanelBlock div{
    margin-bottom: 5px;
}
.leftPanelBlockBin input{
    width: 100%;
}
#leftPanelBack{
    position: relative;
    margin-right: 120px;
}

.windowsPanels{
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.windowsPanel{
    position: fixed;
    background: rgb(70, 70, 70);
    padding: 30px;
    margin-left: 180px;
}
#windowsPanelsBack{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.651);
    cursor: pointer;
}

.editPanel{
    margin: 30px 30px 0 90px;
}
.editPanelBigImage{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.editPanelBigImage div{
    width: 100%;
}
.editPanelBigImage div img{
    max-width: 100%;
    max-height: 80vh;
}
.editPanelInfo{
    margin-bottom: 30px;
}
.editPanelInfo  div{
    
}
.editPanelInfo div p{
    margin-right: 10px;
}

.historyPanel{
    z-index: 1;
    position: fixed;
    left: 90px;
    right: 30px;
    bottom: 30px;
    max-height: 50%;
    overflow: auto;
    background: rgb(70, 70, 70);
    padding: 15px 33px 15px 15px;
}
.historyPanel div{
    width: 100%;
    padding: 10px;
}
.historyPanel div:hover{
    background: rgb(88, 88, 88);
}
.historyPanel div a{
    display: block;
}
.historyPanelSelected{
    background:rgb(113, 194, 174);
}

.histogramPanel{
    z-index: 1;
    position: fixed;
    left: 90px;
    right: 30px;
    bottom: 30px;
    overflow: auto;
    background: rgb(70, 70, 70);
    padding: 15px 15px 15px 15px;
    display: flex;
}
.histogramPanel img{
    max-height: 30vh;
}


.bottomPanel{
    bottom: 0;
    width: 100%;
    margin-bottom: 18px;
    position: fixed;
    padding: 0 30px;
    display: flex;
}
.bottomPanel a{
    padding-bottom: 3px;
}
.imgLinks div img{
    height: 28px;
    cursor: pointer;
}


.flex{
    display: flex;
}
.noDecoration{
    text-decoration: none;
    cursor: pointer;
}
.hided{
    display: none;
}
.pointer{
    cursor: pointer;
}